.navbar{
    background-color: #F6AE2D;
    
}
.navbar ul {
    display: flex;
    flex-direction: row;
}
.navbar ul li {
list-style: none;
margin: 10px 10px;
}
.navbar ul li a {
text-decoration: none;
}
